.page-template-plato {

	.page-header {
		padding: 260px 0 0 54%;
		height: 550px;

		@include breakpoint(menuswap) {
			padding-left: 5%;
		}

		@include breakpoint(phone-h) {
			padding-top: 220px;
		}
	}

	.page-title {
		color: #fff;
		@include font-size(4.313);

		@include breakpoint(phone-h) {
			@include font-size(3);
		}
	}

	.borderbox-tl {
		position: absolute;
		z-index: 1;
		top: 550px;
		right: 0;
		width: 50%;

		@include breakpoint(phone-h) {
			top: 429px;
		}
	}

	.intro-block {
		background: #fff;
		line-height: 1.875;
		height: 750px;
		padding: 60px 5%;
		position: absolute;
		top: -40px;
		right: 50%;
		width: 50%;
		@include font-size(.9375);

		@include breakpoint(tablet-h) {
			height: 850px;
		}
		@include breakpoint(tablet-l) {
			height: 900px;
		}
		@include breakpoint(menuswap) {
			position: relative;
			top: auto;
			right: auto;
			width: 100%;
			height: auto;
			padding: 40px 5% 80px;
		}

		.big-text {
			@include font-size(1.125);
		}
	}

	.entry-content {
		padding-bottom: 3em;
		background-color: $color__bosegray;

		.inner-wrap {
			@include breakpoint(desktop-s) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.content-block {
		margin: 710px 4% 0;
		position: relative;

		@include breakpoint(tablet-h) {
			margin-top: 800px;
		}

		@include breakpoint(tablet-l) {
			margin-top: 860px;
		}
		@include breakpoint(menuswap) {
			margin-top: 0;
		}
	}

	.rightcol,
	.leftcol {
		float: left;
		width: 50%;
		@include breakpoint(menuswap) {
			float: none;
			display: block;
			width: 100%;
		}
	}
	.rightcol {
		margin-top: -36em;

		@include breakpoint(menuswap) {
			margin-top: 0;
		}
	}

	.leftcol {
		@include breakpoint(menuswap) {
			margin-top: -4em;
		}
	}

	.vidblock {
		margin-bottom: 6em;
		position: relative;

		@include breakpoint(menuswap) {
			margin-bottom: 2em;
		}
	}

	.plato-image {
		img {
			display: block;
			height: 375px;
			object-fit: cover;
			width: 100%;
		}
	}

	.plato-text {
		position: absolute;
		color: #fff;
		line-height: 1.5;
		padding: 0 4% 40px;
		bottom: 0;
		left:0;
		width: 100%;
		z-index: 2;

		a {
			border-bottom: 2px solid $color__highlight;
			color: #fff;
			font-weight: $font__weight-bold;
			padding-bottom: 4px;
			letter-spacing: 1px;

			&:hover {
				border-bottom-color: #fff;
			}
		}
	}



	.plato-date {
		@include font-size(.75);
	}

	.plato-title {
		font-weight: bold;
		margin-bottom: 1em;
		@include font-size(1.5);
	}

	.vline {
		height: 200px;
		margin-left: 50%;
		margin-top: 20px;
		position: relative;
		z-index: 2;

		@include breakpoint(phone-h) {
			height: 100px;
		}
	}
}
